.avatar {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 60px;
  box-shadow: 0 0 36px 0 rgba(108, 98, 255, 0.14);
  background-color: rgb(126, 41, 236);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);

  @media (min-width: @tablet-width) {
    width: 364px;
    margin-left: 10px;
    padding-top: 80px;
    margin-bottom: 0;
  }

  @media(min-width: @desktop-width) {
    width: 562px;
    padding-top: 153px;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 10px;
  }
}

.avatar__photo-shadow {
  width: 57%;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 0px 5px #7623eb,
              0px 0px 0px 17px #650cd7,
              0px 0px 0px 30px #7e29ec,
              0px 0px 0px 32px #6f15e2;
  margin-bottom: 50px;
}

.avatar__photo {
  border-radius: 100%;
  vertical-align: top;

  @media (min-width: @tablet-width) {
    width: 207px;
    height: 207px;
  }

  @media(min-width: @desktop-width) {
    width: 320px;
    height: 320px;
  }
}

.avatar__name {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
  color: @white;
  text-align: center;
  font-size: 28px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }

  @media(min-width: @desktop-width) {
    font-size: 50px;
  }
}

.avatar__profession {
  font-family: 'Montserrat', sans-serif;
  color: @white;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media(min-width: @desktop-width) {
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
