.course-block {
  display: flex;
  position: relative;
  justify-content: space-around;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  padding-top: 18px;
  margin-top: 30px;
}

.course-block__header {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: @white;
  font-size: 20px;
  width: 50%;
}

.course-block__sertificate {
  margin-right: 40px;

}
