.menu__list {
  list-style: none;
  padding: 0;
  margin: 13px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  color: @white;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  border-radius: 19.5px;
  background-color: @opacity-white;
  padding: 6px 10px;
}
