.profile {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  box-shadow: 0 0 36px 0 rgba(108, 98, 255, 0.14);
  background-color: rgb(126, 41, 236);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  font-family: 'Montserrat', sans-serif;
  color: @white;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    width: 364px;
    margin-bottom: 10px;
    padding: 20px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0 0 30px 0;
    padding-left: 30px;
    box-sizing: border-box;
  }
}

.profile__sheet {
  width: 95%;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 418px;
    margin-left: 40px;
    margin-bottom: 30px;
  }
}

.profile__header {
  font-family:'Jost', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 24px;
  margin-top: 0px;
  padding-left: 15px;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 28px;
  }

  @media (min-width: @desktop-width) {
    font-size: 36px;
    margin-bottom: 25px;
  }
}

.profile__item {
  font-family:'Jost', sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 16px;
  width: 45%;
  margin-right: auto;
  margin-left: 15px;
  padding-top: 12px;
  padding-left: 40px;
  padding-right: 25px;
  padding-bottom: 5px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 55%;
    margin-top: 0;
    padding: 10px 20px 10px 50px;
  }

  @media (min-width: @desktop-width) {
    width: 60%;
    padding: 10px 0 10px 0;
    font-size: 20px;
  }
}

.profile__item-icons(@url){
  position: absolute;
  content: "";
  background-image: @url;
  background-repeat: no-repeat;
  width: 12px;
  height: 20px;
  left: 12px;
  top: 16px;

  @media (min-width: @tablet-width) {
    width: 16px;
    height: 24px;
    left: 18px;
    top: 11px;
  }

  @media (min-width: @desktop-width) {
    left: -40px;
    width: 20px;
    height: 28px;
    top: 13px;
  }
}

.profile__item-icons-shadow(){
  background-color: @opacity-white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  position: absolute;
  content: "";
  left: 5px;
  top: 10px;

  @media (min-width: @tablet-width) {
    width: 32px;
    height: 32px;
    left: 10px;
    top: 4px;
  }

  @media (min-width: @desktop-width) {
    left: -50px;
    top: 3px;
    width: 42px;
    height: 42px;
  }
}

.profile__item::after{
  .profile__item-icons-shadow();
}


.profile__item--name::before {
  .profile__item-icons(url("../img/user-icon.svg"));
}

.profile__item--birth::before {
  .profile__item-icons(url("../img/birthday-icon.svg"));
}

.profile__item--city::before {
  .profile__item-icons(url("../img/place-icon.svg"));
}

.profile__item--tel::before {
  .profile__item-icons(url("../img/tel-icon.svg"));
}

.profile__item--email::before {
  .profile__item-icons(url("../img/email-icon.svg"));
}


.profile__info {
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }

}

.profile__links{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;

  @media (min-width: @tablet-width) {
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 488px;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.profile__link {
  color: @white;
  font-size: 14px;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-align: left;
  border-radius: 30px;
  background-color: @opacity-white;
  padding: 6px 15px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 11px 15px;
  }
}
