.profile {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 20px;
  box-shadow: 0 0 36px 0 rgba(108, 98, 255, 0.14);
  background-color: rgb(126, 41, 236);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  color: @white;
  font-size: 16px;
}

.profile__header {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
  text-align: left;
  font-size: 24px;
  margin-top: 0px;
  padding-left: 15px;
  width: 100%;
}
